.slider{
    border-bottom: 10px solid #E9E9E9;
}

.slider .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}

.slider__text{
    max-width: 352px;
}


.slider__text__title{
    font-size: 36px;
    font-family: "Georgia", sans-serif;
    color: #333333;
    line-height: 1;
    margin-bottom: 22px;
}


.slider__text__text{
    font-size: 16px;
    font-family: "Georgia", sans-serif;
    color: #666666;
    line-height: 1.4;
    margin-bottom: 20px;
}


.slider__text__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099ff;
    width: 126px;
    height: 31px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: "Georgia", sans-serif;
    color: #FFFFFF;
    cursor: pointer;
}


.slider__slider{
    background-image: url("../img/slider/humanbrain.jpg");
    align-self: flex-end;
    width: 550px;
    height: 440px;
    background-color: #333333;
    box-shadow: inset 0 0 100px 0px #048df0;
}